@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald';
}
body{
    background-color: #0d232a;
}
header{
    background-color: #1f1f1f;
    border-bottom: 1px solid lightgrey;
}

nav ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0 1.5vw;
}
nav{
    display: flex;
    height: 7vh;
    justify-content: space-between;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: white;
}
nav ul li a:hover{
   color: white;
   font-weight: bold;
}
.search{
    display: flex;
    align-items: center;
    padding: 0vh 2vw;
}
.search input{
    width: 18vw;
    height: 3vh;
    outline: none;
    padding-left: 1vh;
    margin-right: 1vw;
}
.search button{
    margin-right: 1vh;
    border-radius: 0.8vh;
    height: 3vh;
    width: 3vw;
    cursor: pointer;
    color: blue;
    border: 1px solid blue;
    text-align: -webkit-center;
    padding-bottom: 2px;
}
button:hover{
    background-color: lightgreen;
    color: white;
    transform: scale(1.1);
}
footer{
    display: flex;
    background-color: #1f1f1f;
    color: white;
    height: 8vh;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}
footer a{
    text-decoration: none;
    color: white;
    padding: 0 1vw;
}
footer p{
    padding: 0 1vw;
}

.swiper-container{
    margin-top: 1vh;
}